*{
    margin: 0px;
    padding: 0px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}
/* <!-- navigation bar --> */
.header{
    width: 100%;
    height: 80px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: -15px;
    margin-left: 190px;
    /* justify-content: center; */
    z-index: 10;
}
/* .left-header{
    margin-top: none;
    margin-left: none;
} */
.icons{
    font-size: 2.8rem;
    color: rgb(18, 94, 60);
    position: absolute;
    right: 5%;
    cursor: pointer;
    display: none;
    
}
.starbucks-logo{
    margin-top: 5px;
    margin-left: 0px;

}
.navbar{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    list-style: none;
}
/* .nav-items{
    padding: 15px 30px;
} */
.nav-link{
    text-decoration: none;
    color: black;
    padding: 30px;
    margin-top: -25px;
}
.nav-icons{
    display: flex;
    margin-left: 480px;
}
#check{
    display: none;
}
/* <!-- about reward --> */
.know-more{
    background-color: rgb(18, 94, 60);
    height: 100px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    justify-content: center;
}
.heading-km{
    margin-left: 200px;
    color: white;
    font-weight: 500;
    font-size: 20px;
}
.know-button{
    text-align: right;
    margin-right: 180px;
}
.km-button{
    background-color: rgb(18, 94, 60);
    border: 1px solid white;
    padding: 10px;
    border-radius: 15px;
}
.km-link{
    text-decoration: none;
    color: white;
}

/* <!-- starbucks subscription,  barista recommends  --> */
.subscription-barista{
    background-color: rgb(234, 226, 215);
    height: 310px;
    width: 100%;
    
}
.sub-barista{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}
.barista{
    margin-left: 190px;
    margin-top: 30px;
    margin-bottom: -15px;
    font-size: 30px;
    
}
.barista-shakes{
    display: flex;
    flex-direction: row;
    margin-left: 190px;
    margin-top: 55px;
}
.subscription-barista>h3{
    margin-left: 190px;
    font-size: 25px;
    flex-wrap: nowrap;
}
.strawberry-shake{
    background-color: white;
    display: flex;
    width: 360px;
    height: 130px;
    margin-right: 25px;
    border-radius: 15px;
    box-shadow: 0.5px 0.5px 0.5px grey;
}
.pic-strawberry-shake{
    height: 85px;
    background-color: rgb(234, 226, 215);
    border-radius: 8px;
    margin-left: 12px;
    margin-top: 15px;
}
.s-shake-price{
    font-size: 16px;
}
.text-strawberry{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    text-align: left;
    margin-left: 20px; 
}
.s-ruppees{
    margin-left: 15px;
}
.s-description{
    font-size: 8px;
    color: rgb(100, 100, 100);
}
.s-add-item{
    color: white;
    background-color: rgb(18, 94, 60);
    border: 1px solid rgb(18, 94, 60);
    padding: 10px;
    margin-top: 20px;
    border-radius: 15px;
    width: 50%;
    margin-left: 85px;
}





.vanilla-shake{
    display: flex;
    background-color: white;
    width: 360px;
    height: 130px;
    border-radius: 15px;
    box-shadow: 0.5px 0.5px 0.5px 0.5px grey;
}
.v-shake-price{
    font-size: 16px;
}
.pic-vanilla-shake{
    height: 85px;
    background-color: rgb(234, 226, 215);
    border-radius: 8px;
    margin-left: 12px;
    margin-top: 15px;
}
.text-vanilla{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    margin-left: 20px;
}
.v-ruppees{
    margin-left: 15px;
}
.v-description{
    font-size: 8px;
    color: rgb(100, 100, 100);
}
.v-add-item{
    color: white;
    background-color: rgb(18, 94, 60);
    border: 1px solid rgb(18, 94, 60);
    padding: 10px;
    margin-top: 20px;
    border-radius: 15px;
    width: 50%;
    margin-left: 85px;
}
.link-add-item{
    color: white;
    font-weight: 600;
    text-decoration: none;
}

/* subscription only */
.subscription-only{
    width: 100%;
    height: 310px;
    background-color: white;
    display: block;
    position: relative;
}
.add-img-sub{
    position: absolute;
    margin-left: 40px;
    margin-top: 40px;
}
.beverages-img{
    border-radius: 50%;
    border: 6px solid rgb(12, 106, 64);
}
.plan-subscription{
    width: 80%;
    height: 200px;
    margin-top: 60px;
    margin-left: 150px;
    background-color: rgb(5, 149, 84);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    
}
.plan-sub-only{
    margin-left: 155px;
    margin-top: 30px;
    height: 250px;
}
.offer{
    color: white;
    padding-bottom: 8px;
    font-weight: 600;
    margin-top: -8px;
}
.star-subscription{
    color: white;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 8px;
}
.star-sub-detail{
    color: white;
    padding-bottom: 8px;
    font-weight: 600;
    margin-top: -1px;
}
.rate-km{
    margin-top: 35px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.starting, .amount{
    color: white;
}
.km-details{
    text-align: right;
    margin-top: -30px;
    
}
.sub-km-details{
    background-color: rgb(28, 101, 68);
    border-radius: 15px;
    border: 2px solid rgb(28, 101, 68);
    padding: 10px;
    margin-right: 55px;
    width: 150px;
    margin-top: -10px;
}
.button-km-detail{
    text-decoration: none;
    color: white;
}

/* handcrafted items */
.handcrafted-items{
    display: flex;
    justify-content: center;
}
.Bestseller{
    margin: 50px 0px;
    margin-left: -50px;
    margin-right: 100px;
    text-align: center;
}
.Drinks{
    margin: 50px 0px;
    margin-left: 50px;
    margin-right: 100px;
    text-align: center;
}
.Merchandise{
    margin: 50px 0px;
    margin-left: 50px;
    margin-right: 150px;
    text-align: center;
}
.CoffeeAtHome{
    margin: 50px 0px;
    text-align: center;
}
.heading-curation{
    margin-left: 40%;
}



/* footer */
.footer{
    display: flex;
    background-color: rgb(18, 94, 60);
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.footer-content{
    display: flex;
}
.footer-one{
    display: flex;
    flex-direction: column;
    margin: 15px 55px; 
}
.footer-img{
    margin-top: 15px;
}
.a-footer{
    text-decoration: none;
    color: white;
    font-weight: 300;
    font-size: 14px;
    margin-bottom: 25px;
}
.footer-heading{
    color: white;
    margin-bottom: 16px;
}
.bestseller-img{
    border-radius: 50%;
}


/* media queries */
@media (max-width: 992px){
    .toplist{
        padding: 1.3rem 5%;
    }
}
@media (max-width:768px){
    .icons{
        display: flex;
        margin-top: 0px;
    }
    .starbucks-logo-log{
        margin-left: -10px;
    }
    .header{
        margin-left: 10px;
    }
    .know-more{
        display: flex;
        flex-direction: column;
        height: 150px;
    }
    .heading-km{
        margin-left: 0px;
    }
    .know-button{
        margin-top: 15px;
        margin-left: 190px;
    }
    .km-button{
        width: 150px;
    }
    #check:checked~.icons #menu-icon{
        display: none;
    }
    .icons #close-icon{
        display: none;
    }
    #check:checked~.icons #close-icon{
        display: block;
    }
    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: rgb(255, 255, 255);
        /* height: 0px; */
        display: none;
    }
    .navbar a{
        display: block;
        font-size: 1.1rem;
        margin: 1.5rem 0;
        text-align: center;
    }
    #check:checked~.navbar{
        display: block;
        height: 15rem;
    }
    .subscription-barista{
        height: 450px;
    }
    .barista{
        margin-left: 20px;
    }
    .barista-shakes{
        margin-left: 20px;
        display: flex;
        flex-direction: column;
    }
    .strawberry-shake{
        margin-bottom: 20px;
    }
    .subscription-only{
        margin-left: -130px;
        display: flex;
        flex-direction: column;
        height: 30px;
        width: 90%;
    }
    .plan-subscription{
        height: 350px;
        width: 100%;
        padding-bottom: 25px;
        
    }
    .add-img-sub{
        margin-left: 30px;
        margin-top: 100px;
    }
    
    .km-details{
        margin-top: 30px;
    }
    .handcrafted-curation{
        margin-top: 420px;
        display: block;
    }
    .handcrafted-items{
        display: flex;
        flex-direction: column;
    }
    .heading-curation{
        margin-left: 70px;
    }
    .Bestseller{
        margin-left: 90px;
        margin-bottom: -10px;
    }
    .Drinks{
        margin-left: 90px;
        margin-bottom: -10px;
    }
    .Merchandise{
        margin-left: 120px;
        margin-bottom: -10px;
    }
    .merchandise-text{
        margin-left: 18px;
    }
    .CoffeeAtHome{
        margin-left: -20px;
    }
    .footer{
        margin-top: 20px;
        display: flex;
        flex-direction: column;
    }
    .footer-content{
        display: flex;
        flex-direction: column;
        margin-top: 150px;
        text-align: center;
    }
    .footer-img{
        margin-top: -80px;
        margin-left: 0px;
        margin-bottom: 25px;
    }
}
    

